<!-- 首页资讯开始 -->
<section class="news">
   		<div class="news-title"><a href="./connews.html" id="gameconactive" >游戏资讯</a><a href="./congift.html">游戏礼包</a></div>
		<div class="news-list">
			<ul>
				<li><a href="#"><span class="newsclassify">新闻</span><span class="articlelisttitle">《王者荣耀》是全球首款5V5英雄公平对战手游</span></a></li>
				<li><a href="#"><span class="newsclassify">新闻</span><span class="articlelisttitle">《王者荣耀》是全球首款5V5英雄公平对战手游</span></a></li>
				<li><a href="#"><span class="newsclassify">新闻</span><span class="articlelisttitle">《王者荣耀》是全球首款5V5英雄公平对战手游</span></a></li>
				<li><a href="#"><span class="newsclassify">新闻</span><span class="articlelisttitle">《王者荣耀》是全球首款5V5英雄公平对战手游</span></a></li>
				<li><a href="#"><span class="newsclassify">新闻</span><span class="articlelisttitle">《王者荣耀》是全球首款5V5英雄公平对战手游</span></a></li>
			</ul>
		</div>
</section>
<!-- 首页资讯结束 -->